In [16]:
import pandas as pd

# Extracting enrolment division info and vote types data from CSV

In [17]:
df = pd.read_csv('Resources/HouseVotesCountedByDivisionDownload-20499.csv', header=1)

In [18]:
df.head()

,DivisionID,DivisionNm,StateAb,Enrolment,OrdinaryVotes,AbsentVotes,ProvisionalVotes,PrePollVotes,PostalVotes,TotalVotes,TotalPercentage
0,179,Adelaide,SA,109217,79148,6869,686,3444,8515,98662,90.34
1,197,Aston,VIC,96043,72395,3756,292,3090,9578,89111,92.78
2,198,Ballarat,VIC,110755,87377,3439,783,3118,8451,103168,93.15
3,103,Banks,NSW,104891,81420,4109,469,3395,7095,96488,91.99
4,180,Barker,SA,105600,85870,3019,245,2877,6662,98673,93.44

# Transforming the dataframe to look at the vote types of the 2016 federal election

In [19]:
df.columns

Index(['DivisionID', 'DivisionNm', 'StateAb', 'Enrolment', 'OrdinaryVotes',
       'AbsentVotes', 'ProvisionalVotes', 'PrePollVotes', 'PostalVotes',
       'TotalVotes', 'TotalPercentage'],
      dtype='object')

In [20]:
df.dtypes

DivisionID            int64
DivisionNm           object
StateAb              object
Enrolment             int64
OrdinaryVotes         int64
AbsentVotes           int64
ProvisionalVotes      int64
PrePollVotes          int64
PostalVotes           int64
TotalVotes            int64
TotalPercentage     float64
dtype: object

In [21]:
# checking for duplicates
df['DivisionID'].is_unique

True

In [22]:
len(df)

150

In [23]:
# dropping any na values 
df = df.dropna()
len(df)

150

In [8]:
# columns we want to keep
columns = ['DivisionID','DivisionNm', 'OrdinaryVotes', 'AbsentVotes', 'ProvisionalVotes','PrePollVotes','PostalVotes','TotalVotes']
votetypes_df = df[columns]
votetypes_df

,DivisionID,DivisionNm,OrdinaryVotes,AbsentVotes,ProvisionalVotes,PrePollVotes,PostalVotes,TotalVotes
0,179,Adelaide,79148,6869,686,3444,8515,98662
1,197,Aston,72395,3756,292,3090,9578,89111
2,198,Ballarat,87377,3439,783,3118,8451,103168
3,103,Banks,81420,4109,469,3395,7095,96488
4,180,Barker,85870,3019,245,2877,6662,98673
...,...,...,...,...,...,...,...,...
145,153,Werriwa,86095,4673,508,1946,4720,97942
146,150,Whitlam,93549,3597,358,1991,4574,104069
147,178,Wide Bay,79037,3177,131,3560,8712,94617
148,234,Wills,79320,5864,374,5684,9673,100915
149,316,Wright,70581,5412,200,3877,12228,92298

In [9]:
# renaming columns
votetypes_df.columns = ['division_id', 'electoral_division', 'ordinary_votes', 'absent_votes', 'provisional_votes', 'prepoll_votes', 'postal_votes', 'total_votes']
votetypes_df.head()

,division_id,electoral_division,ordinary_votes,absent_votes,provisional_votes,prepoll_votes,postal_votes,total_votes
0,179,Adelaide,79148,6869,686,3444,8515,98662
1,197,Aston,72395,3756,292,3090,9578,89111
2,198,Ballarat,87377,3439,783,3118,8451,103168
3,103,Banks,81420,4109,469,3395,7095,96488
4,180,Barker,85870,3019,245,2877,6662,98673

In [10]:
# set the division_id as index
votetypes_df = votetypes_df.set_index("division_id")
votetypes_df.head()

,electoral_division,ordinary_votes,absent_votes,provisional_votes,prepoll_votes,postal_votes,total_votes
division_id,,,,,,,
179,Adelaide,79148,6869,686,3444,8515,98662
197,Aston,72395,3756,292,3090,9578,89111
198,Ballarat,87377,3439,783,3118,8451,103168
103,Banks,81420,4109,469,3395,7095,96488
180,Barker,85870,3019,245,2877,6662,98673

In [11]:
# export df to csv
votetypes_df.to_csv("03-output_2016_federal_election_votetypes/fedelect_votetypes.csv")